@model List<Book.Model.Booklist>
@{
    ViewBag.Title = "Index";
    string searchstr = ViewBag.SearchString;
    int Count= ViewBag.ResultCount;
    
}
<!DOCTYPE html>
<html>
<head>
   <!--
       <meta http-equiv="refresh" content="20" />
   -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
        
   
</head>

<body>
    <h2>書籍清單</h2>

    <form class="form-inline"  method="post">
        <div class ="form-group" >
            @if (searchstr == "")
            {
                <input type="search" class="form-control" name="Search"  placeholder="搜尋">
            }
            else
            {
                <input type="search" class="form-control" name="Search" value=@searchstr placeholder="搜尋">
            }
            <button class="btn btn-primary"  > <i class="material-icons" style="font-size:medium">search</i></button>
        </div>
   
    </form>
    <br/>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Books
        </a>
        @if (Count == 0)
        {
            <p style="color:crimson; text-align:center; font-size:36px;">查無此項目</p>
        }
        else
        {
            for (int i = 0; i < Model.Count; i++)
            {

                <a class="list-group-item">
                    <h4 class="list-group-item-heading">@Model[i].ISBN</h4>
                    <p class="list-group-item-text">@Model[i].BookName</p>
                </a>

            }
        }



    </div>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <div>
        @Html.ActionLink("返回書籍清單", "Index")
    </div>

</body>

</html>
